html{
    display: flex;
    font-size: 62.5%;
}
button{
    height: 5rem;
    width: 5rem;
}
input{
    border:none;
    text-align: right;
    width: 95%;
}
.visor {
    border: 2px solid;
}
input, button{
    font-family: Segoe UI ;
}
#visor1{

}
#visor2{
    font-weight: 600;
}
button:hover{
    color: 
}
table{
    background-color: #1F1F1F;
}