html{
    font-size: 62.5%;
    color: #FFFFFF;
}
button{
    height: 48px;
    width: 76px;
    background-color: #333333;
    color: #FFFFFF;
    border: 0;
    border-spacing: 0;
    font-size: 1.7rem;
}
input{
    border:none;
    text-align: right;
    width: 95%;
    background-color: #565656;
    pointer-events: none;
}
input, button{
    font-family: Segoe UI ;
}
#visor1{
    color: #BBBBBB;
}
#visor2{
    font-weight: 600;
    color: #FFFFFF;
    border-bottom: 0;
}
.normaltext{
    font-size: 4.5rem;
}
.smallertext{
    font-size: 2rem;
}
.smalltext{
    font-size: 3rem;
}
/* Provoca o efeito de mudança de cor ao posicionar o mouse sobre um botão,
mas esse efeito não pode ser desencadeado em botões desabilitados, por isso
o ":not(.disabled)" após "button" */
button:not(.disabled):hover, #simetric:hover, #dot:hover{
    background-color: #6B6B6B;
    border: 1px solid #BBBBBB;
}
/* A coloração da fonte dos botões desabilitados é diferente */
.disabled{
    color: #565656
}
table{
    background-color: #565656;
    width: 322px;
    height: 438px;
    padding: 1px;
}
.num, #simetric, #dot{
    background-color: #111111;
}
.num{
    font-weight: 600;
}
#equal{
    background-color: #565656;
}
.visor{
    height: 134px;
}
/* sr-only serve para ocultar campos que são necessários para o 
funcionamento da calculadora, mas que não interessam ao usuário */
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}